@import "highlight.js/styles/default.css";

:root {
  --primary-color: #ffffff;
  --h3-color-CWA: #000;
  --span-color-CWA: #9e9e9e;
  --font-size: 14px;
  --border-radius-CWA: 10px;
  --margin-value-CWA: 10px;
  --padding-value-CWA: 10px;
  --font-weight-semi-bold: 600;
  --box-shadow-value-CWA: 0 0 10px 10px rgba(0, 0, 0, 0.05);
  --font-family: CohereText, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-family-monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --light-color: #25ead5;
  --mid-color: #007d89;
  --dark-color: #114556;
}

@font-face {
  font-family: "CohereText";
  src: url("https://cohere-readme-docs.netlify.app/fonts/CohereText-Regular.woff2")
      format("woff2"),
    url("https://cohere-readme-docs.netlify.app/fonts/CohereText-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CohereText";
  src: url("https://cohere-readme-docs.netlify.app/fonts/CohereVariable.woff2")
      format("woff2"),
    url("https://cohere-readme-docs.netlify.app/fonts/CohereVariable.woff")
      format("woff");
  font-weight: 500 525;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CohereHeadline";
  src: url("https://cohere-readme-docs.netlify.app/fonts/CohereHeadline-Regular.woff2")
      format("woff2"),
    url("https://cohere-readme-docs.netlify.app/fonts/CohereHeadline-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CohereHeadline";
  src: url("https://cohere-readme-docs.netlify.app/fonts/CohereHeadline-Bold.woff2")
      format("woff2"),
    url("https://cohere-readme-docs.netlify.app/fonts/CohereHeadline-Bold.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CohereMono";
  src: url("https://cohere-readme-docs.netlify.app/fonts/CohereMono-Regular.woff2")
      format("woff2"),
    url("https://cohere-readme-docs.netlify.app/fonts/CohereMono-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CohereMono";
  src: url("https://cohere-readme-docs.netlify.app/fonts/CohereVariable.woff2")
      format("woff2"),
    url("https://cohere-readme-docs.netlify.app/fonts/CohereVariable.woff")
      format("woff");
  font-weight: 500 525;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CohereVariable";
  src: url("https://cohere-readme-docs.netlify.app/fonts/CohereVariable.woff2")
      format("woff2"),
    url("https://cohere-readme-docs.netlify.app/fonts/CohereVariable.woff")
      format("woff");
  font-weight: 400 420 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CohereColor";
  src: url("https://cohere-readme-docs.netlify.app/fonts/CohereColor-Color.woff")
      format("woff"),
    url("https://cohere-readme-docs.netlify.app/fonts/CohereColor-Color.woff2")
      format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CohereIconDefault";
  src: url("https://cohere-readme-docs.netlify.app/fonts/CohereIcon-Default.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "CohereIconOutline";
  src: url("https://cohere-readme-docs.netlify.app/fonts/CohereIcon-Outline.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* KaTeX Styles */
#CWA .katex-html {
  display: none !important;
}

#CWA .katex-mathml {
  text-wrap: wrap !important;
}

#CWA .katex-mathml math {
  margin: 10px 0 !important;
  font-size: 1.2rem !important;
  font-weight: 525;
  padding: 10px;
  overflow-x: auto;
  overflow-y: hidden;
}

#CWA .katex-display {
  margin: 20px 0 !important;
}

/* Code Block Styles */
#CWA pre {
  text-wrap: wrap !important;
  background: #000 !important;
  line-height: 1.4rem !important;
  margin: 1rem 0 !important;
  padding: 55px 15px 15px 15px !important;
  position: relative;
  border-radius: 10px 10px 5px 5px !important;
  color: white;
  font-weight: 525;
}

#CWA pre header {
  padding: 5px !important;
  background: #1b7fcccc;
  color: wheat;
  border-radius: 10px 10px 0 0 !important;
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
  overflow: hidden;
}

/* Syntax Highlighting */
#CWA .hljs-keyword,
#CWA .hljs-title {
  color: #65489c !important;
}

#CWA .hljs-meta {
  color: #58c1e7 !important;
}

#CWA .hljs-string {
  color: #8bdc40 !important;
}

/* Markdown Body */
#CWA .markdown-body {
  font-family: "CohereText";
  line-height: 1.2 !important;
  padding: 0.5em !important;
}

/* Headers */
#CWA h1,
#CWA h2,
#CWA h3,
#CWA h4,
#CWA h5,
#CWA h6 {
  margin-bottom: 16px !important;
  line-height: 1.25 !important;
}

#CWA h1 {
  font-size: 1.95em !important;
  font-weight: 525 !important;
}

#CWA h2 {
  font-size: 1.55em !important;
  font-weight: 500 !important;
}

#CWA h3 {
  font-size: 1.25em !important;
  font-weight: 400 !important;
}

#CWA h4 {
  font-size: 1.05em !important;
}

#CWA h5 {
  font-size: 0.85em !important;
}

#CWA h6 {
  font-size: 0.75em !important;
}

/* Lists */
#CWA menu,
#CWA ol {
  margin: 10px !important;
  padding: 10px !important;
  list-style: auto !important;
}

#CWA ol li {
  list-style: unset !important;
  padding: 10px !important;
}

#CWA ul {
  padding-left: 15px !important;
  list-style: disc !important;
}

/* Horizontal Rule */
#CWA hr {
  margin: 1.5rem 0 !important;
}

/* Tables */
#CWA table {
  width: 100%;
  border-collapse: collapse;
}

#CWA th,
#CWA td {
  border: 1px solid #ccc;
  padding: 5px;
}

#CWA .cwa_answer p {
  overflow: auto;
  overflow-y: hidden;
}

#CWA .cwa_answer p::-webkit-scrollbar {
  height: 4px !important;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: rgba(192, 192, 192, 0.6);
  border-radius: var(--border-radius-CWA);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(192, 192, 192, 0.9);
}

.cwa_autocomplete-dropdown::-webkit-scrollbar {
  display: none !important;
}

#CWA {
  display: flex;
}

#CWA .cwa_box-chat-container {
  height: 100vh;
  position: relative;
  width: 90%;
}

#CWA .cwa_box-chat-content {
  display: flex;
  height: 86vh;
  flex-direction: column;
  overflow: scroll;
}

@media (max-width: 1920px) {
  #CWA .cwa_box-chat-content {
    height: 80vh !important;
  }
}

#CWA .cwa_side-bar-container {
  height: 100vh;
  width: 10%;
  z-index: 9999;
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

#CWA .cwa-btn-side-bar {
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#CWA .cwa-btn-side-bar.selected {
  background-color: #378ba5;
}

#CWA .cwa_container-icon {
  display: flex;
  transform: translateY(-50%);
  position: fixed;
  top: 50%;
  right: -30px;
  z-index: 5666668;
  font-size: 14px;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  cursor: pointer !important;
  background-color: #ffffff;
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease, background-color 0.4s ease;
  border-radius: var(--border-radius-CWA);
  border: none;
  outline: none;
}

#CWA .cwa_container-icon::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -40px;
  bottom: -10px;
  left: -10px;
  z-index: -1;
}

#CWA .cwa_container-icon:hover {
  transform: translate(-90%, -50%);
}

#CWA .cwa_container-icon::before:hover ~ .cwa_container-icon {
  transform: translate(-90%, -50%);
}

#CWA .cwa_container-icon:hover::before {
  visibility: visible;
  opacity: 1;
}

#CWA .cwa_container-icon:hover .cwa_close {
  display: block;
}

#CWA .cwa_view-icon-item {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#CWA .cwa_view-icon {
  display: flex;
  justify-content: space-between;
}

#CWA .cwa_container-icon:hover {
  display: flex;
}

#CWA .cwa_container-icon:hover .cwa_gl-tooltip::after {
  display: block;
}

#CWA .cwa_gl-tooltip-left::after {
  content: "nebulAsisstant";
  top: 50%;
  left: -2px;
  transform: translateX(calc(-100% - 10px)) translateY(-50%);
}

#CWA .cwa_gl-tooltip::after {
  display: none;
  position: absolute;
  z-index: 999;
}

#CWA .cwa_gl-tooltip::after {
  font-family: var(--font-family) !important;
  letter-spacing: 1px;
  color: black;
  background: white;
  font-size: 1rem;
  text-align: center;
  pointer-events: none;
  word-break: break-word;
  border-radius: var(--border-radius-CWA);
  padding: 7px 10px;
  white-space: nowrap;
  box-shadow: var(--box-shadow-value-CWA);
}

#CWA .cwa_custom-img {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

#CWA .cwa_close {
  display: none;
  position: absolute;
  top: -5px;
  left: -5px;
}

#CWA .cwa_container-chat {
  height: 100vh;
  width: 800px;
  transform: translateX(0) translateY(-50%);
  top: 50%;
  font-family: var(--font-family) !important;
  overflow: hidden;
  box-shadow: var(--box-shadow-value-CWA);
  position: fixed;
  right: 0;
  z-index: 9999999;
  overflow: hidden;
  background-color: #ffffff;
  transition: transform 0.5s ease-out;
}

@media (max-width: 1024px) {
  #CWA .cwa_container-chat {
    width: 600px;
  }
}

#CWA .cwa_hide {
  transform: translateX(120%) translateY(-50%);
}

#CWA .cwa_container-chat * {
  font-family: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#CWA .cwa_header {
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

/* #CWA .cwa_chat-content-container {
  overflow: auto;
} */

#CWA .cwa_exit-icon {
  box-shadow: inset 0 1px 5px 2px rgba(0, 0, 0, 0.3);
  height: 40px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  width: 100%;
  align-items: center;
}

#CWA .cwa_title {
  gap: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

#CWA .cwa_title p {
  color: black;
}

#CWA .cwa_title_with_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#CWA .cwa_title img {
  width: 40px;
  height: 30px;
  display: block;
}

#CWA .cwa_title .cwa_h3 {
  font-family: CohereHeadline !important;
  font-size: 26px !important;
  font-weight: 525 !important;
  margin: 0 !important;
  display: flex;
  align-items: center;
  color: var(--h3-color-CWA);
}

#CWA .cwa_suggestion-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 1rem;
}

#CWA .cwa_suggestion-container p {
  color: black;
}

#CWA .cwa_suggestion-card-list {
  grid-template-columns: 1fr 1fr;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#CWA .cwa_suggestion-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 25px 10px;
  border-radius: 10px;
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.1);
  font-size: 0.7rem;
  color: rgb(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1rem;
}

#CWA .cwa_suggestion-card:hover {
  outline: 1px solid #144859;
}

#CWA .cwa_box-suggestion {
  width: 100%;
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: rgb(0, 0, 0, 0.8);
}

#CWA .cwa_box-suggestion-header h3 {
  font-weight: 525 !important;
  font-size: 1.1rem !important;
  color: black !important;
  margin-bottom: 0.2rem !important;
  margin-top: 0.2rem !important;
}

#CWA .cwa_box-container {
  width: 100%;
}

#CWA .cwa_scissors-icon,
#CWA .cwa_upload-image-icon {
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#CWA .cwa_scissors-icon:hover,
#CWA .cwa_upload-image-icon:hover {
  box-shadow: none;
}

#CWA .cwa_categories {
  overflow-x: hidden;
  text-align: center;
  height: 100%;
  background: #ffffff;
}

#CWA .cwa_category-list {
  list-style: none;
  margin: 0;
  white-space: nowrap;
  display: flex;
  height: 100%;
  gap: 5px;
}

#CWA .cwa_category-item {
  color: black;
  padding: 5px var(--padding-value-CWA);
  border-radius: var(--border-radius-CWA);
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  border-right: 1px solid white !important;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#CWA .cwa_categories-container {
  padding: var(--padding-value-CWA) calc(2 * var(--padding-value-CWA));
  height: 45px;
  position: relative;
  width: 100%;
}

#CWA .cwa_prev-btn,
#CWA .cwa_next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  border: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  background-color: transparent;
  cursor: pointer;
}

#CWA .cwa_prev-btn:hover,
#CWA .cwa_next-btn:hover {
  color: rgba(0, 0, 0, 1);
  transform: scale(1.25), translateY(-50%);
}

#CWA .cwa_prev-btn {
  left: 10px;
}

#CWA .cwa_next-btn {
  right: 10px;
}

#CWA .cwa_messages-container {
  display: flex;
  flex-direction: column;
  padding: var(--padding-value-CWA);

  width: 100%;
}

@media screen and (max-width: 1920px) {
  #CWA .cwa_chat-content-container {
    height: 70%;
  }
}

@media screen and ((min-width: 1675px)) {
  #CWA .cwa_chat-content-container {
    height: 75%;
  }
}

#CWA .cwa_suggestion-question-container {
  color: black;
  display: flex;
  height: auto;
  gap: 5px;
  width: 100%;
  padding-inline: 16px;
  flex-flow: wrap !important;
  gap: 6px;
  height: unset;
  overflow: hidden;
  justify-content: flex-end;
}

#CWA .cwa_suggestion-question-button {
  background-color: transparent;
  border: none;
  border: 1px solid #144859;
  outline: none;
  border-radius: 10px;
  padding: 5px 10px;
  color: black;
  text-align: end;
  font-size: 0.85rem;
  cursor: pointer;
  color: #545c66;
}

#CWA .cwa_suggestion-question-button:hover {
  background-color: #f4f4f4;
}

#CWA .cwa_messages {
  width: 100%;
}

#CWA .cwa_content-mess {
  display: flex;
  width: 100%;
  color: var(--h3-color-CWA);
  gap: 5px;
  padding: var(--padding-value-CWA);
}

#CWA .cwa_message-content.cwa_answer {
  background-color: #f4f4f4;
}

#CWA .cwa_message-content.cwa_file {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#CWA .cwa_pdf-info .cwa_file {
  font-weight: 525;
}

#CWA .cwa_message-content {
  background: white;
  padding: var(--padding-value-CWA);
  border-radius: var(--border-radius-CWA);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  max-width: 100%;
  min-height: 20px;
  overflow-wrap: break-word;
  font-size: 15px;
}

#CWA .cwa_message-content p {
  letter-spacing: 0.03em;
  line-height: 1.5em;
  white-space: pre-line;
}

#CWA .cwa_message-time {
  color: #6c757d;
  font-size: 0.8rem;
  min-width: 70px;
  font-size: 12px;
  float: right;
  line-height: 1rem;
}

#CWA .cwa_message-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin: calc(var(--margin-value-CWA) / 2);
}

#CWA .cwa_upload-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#CWA .cwa_input-area {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  height: 65px;
  width: 100%;
  border: none;
  outline: none;
  padding: var(--padding-value-CWA) 20px;
  gap: 10px;
}

#CWA .cwa_input-area span {
  font-size: 10px;
}

#CWA .cwa_text-value {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px 2px inset;
  box-sizing: border-box;
  font-family: var(--font-family) !important;
  resize: none;
  overflow: hidden;
  height: 100% !important;
  padding: var(--padding-value-CWA) var(--padding-value-CWA)
    var(--padding-value-CWA) calc(2 * var(--padding-value-CWA)) !important;
  font-size: 16px;
  max-height: 150px;
  z-index: 9999;
  width: 100%;
  border-radius: var(--border-radius-CWA);
  color: rgb(0, 0, 0);
  background: #f5f5f5;
  border: none;
  line-height: 1.5em;
  width: 90%;
}

#CWA .cwa_text-value:focus {
  background: #e0e0e0;
}

#CWA .cwa_text-value:focus-visible {
  outline: rgb(0, 0, 0, 0.2) auto 1px !important;
}

#CWA textarea::placeholder {
  line-height: inherit !important;
  color: var(--span-color-CWA) !important;
}

#CWA .cwa_send-button {
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.2);
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  border: none;
  border-radius: var(--border-radius-CWA);
}

#CWA .cwa_send-button.active {
  cursor: pointer;
  background-color: #378ba5;
  background-image: linear-gradient(45deg, #05999e, #cbe7e3);
  color: var(--primary-color);
}

#CWA .cwa_autocomplete-dropdown {
  max-height: 40vh;
  overflow-y: auto;
  bottom: 100%;
  position: absolute;
  left: 10px;
  background-color: #ffffff;
  border-radius: var(--border-radius-CWA);
  padding: var(--padding-value-CWA);
  width: 84%;
  z-index: 1;
  box-shadow: var(--box-shadow-value-CWA);
}

#CWA .cwa_container-catagory {
  padding: var(--padding-value-CWA);
  margin-bottom: var(--margin-value-CWA);
  border-bottom: 1px solid rgb(158, 158, 158, 0.2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#CWA .cwa_container-catagory:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

#CWA .cwa_autocomplete-dropdown .cwa_category-title {
  color: rgb(0, 0, 0);
  font-size: 18px !important;
  font-weight: 400;
  margin: 0 !important;
  margin-bottom: var(--margin-value-CWA) !important;
  line-height: inherit !important;
}

#CWA .cwa_autocomplete-dropdown .cwa_category-description {
  color: var(--span-color-CWA) !important;
  font-size: 14px !important;
  font-weight: 400;
  margin-bottom: var(--margin-value-CWA);
}

#CWA .cwa_autocomplete-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#CWA .cwa_autocomplete-dropdown ul li {
  padding: calc(var(--padding-value-CWA) / 2);
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

#CWA .cwa_container-catagory.selected,
#CWA .cwa_container-catagory:hover {
  border-radius: var(--border-radius-CWA);
  background-color: rgb(220, 220, 220, 0.6) !important;
  font-weight: bold;
}

#CWA .cwa_no-category {
  font-family: "Patrick Hand", cursive !important;
  color: #999;
}

#CWA .cwa_remove-tag {
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#CWA .cwa_tag-name {
  font-size: 16px;
}

#CWA svg {
  display: inline !important;
}

#CWA .cwa_tip {
  background: white;
  position: absolute;
  width: 100%;
  bottom: 75px;
  padding: var(--padding-value-CWA) var(--padding-value-CWA) 0
    var(--padding-value-CWA);
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  height: 5vh;
  z-index: 9999;
}

#CWA .cwa_tip > * {
  color: rgb(0, 0, 0, 0.3) !important;
  font-size: 15px !important;
}

#CWA .cwa_h3-tip {
  margin: 0 !important;
  padding: 0 !important;
}

#CWA .cwa_loading {
  font-size: 15px;
  letter-spacing: 1px;
}

#CWA .cwa_error-message {
  position: fixed;
  height: 40px;
  top: 8%;
  color: #404252;
  background: white;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  right: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  gap: 5px;
  transition: transform 0.25s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}

#CWA .cwa_error-message p {
  margin: 0 !important;
}

#CWA .cwa_hide-error {
  transform: translateX(120%);
}

#CWA .cwa_countdown {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ffa500;
  z-index: 9999;
  animation: countdown 3s linear forwards;
  border-radius: 0 0 0 10px;
}

#CWA ul > li:before {
  background-color: transparent;
}

.cwa_loading-icon {
  animation: spin 2s linear infinite;
}

#CWA .cwa_write-container {
  color: #000;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 10px !important;
}

#CWA .cwa_write-button-switch {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#CWA .cwa_composer-button,
#CWA .cwa_answer-button {
  padding: 10px;
  cursor: pointer;
}

#CWA .cwa_composer-button.active,
#CWA .cwa_answer-button.active {
  border-bottom: solid 1px rgba(0, 0, 0, 1);
}

#CWA .cwa_composer-content,
#CWA .cwa_answer-content {
  justify-content: center;
  flex-direction: column;
  display: flex;
  gap: 10px;
}

#CWA .cwa_composer-textarea {
  background: transparent;
  padding: 10px;
  resize: none;
  border-radius: 10px;
  width: 100%;
  height: 112px !important;
  color: black;
  border: none;
  box-shadow: inset 0 5px 10px 1px rgba(0, 0, 0, 0.2);
}

#CWA .cwa_answer-textarea {
  border-radius: 10px;
  padding: 10px;
  resize: none;
  width: 100%;
}

#CWA .cwa_composer-type-title,
#CWA .cwa_composer-tone-title,
#CWA .cwa_composer-length-title,
#CWA .cwa_composer-language-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.1rem;
}

#CWA .cwa_composer-type-content,
#CWA .cwa_composer-tone-content,
#CWA .cwa_composer-length-content {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

#CWA .cwa_composer-type-item,
#CWA .cwa_composer-tone-item,
#CWA .cwa_composer-length-item {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
}

#CWA .cwa_composer-type,
#CWA .cwa_composer-tone,
#CWA .cwa_composer-length,
#CWA .cwa_composer-language {
  margin: 0.7rem 0;
}

#CWA .cwa_composer-language-content {
  margin-top: 0.7rem;
}

#CWA .cwa_box-chat-container.writing-component {
  overflow: scroll;
}

#CWA .cwa_box-chat-container.question-component {
  overflow: scroll;
}

#CWA .cwa_composer-type-item,
#CWA .cwa_composer-tone-item,
#CWA .cwa_composer-length-item {
  cursor: pointer;
}

#CWA .cwa_composer-type-item.active,
#CWA .cwa_composer-tone-item.active,
#CWA .cwa_composer-length-item.active {
  background-color: #b0d6df;
  box-shadow: none;
}

#CWA .cwa_composer-type-item:hover,
#CWA .cwa_composer-tone-item:hover,
#CWA .cwa_composer-length-item:hover {
  background-color: #b0d6df;
}

#CWA .cwa_write-answer {
  white-space: pre-line;
}

#CWA .cwa_composer-send-btn {
  outline: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #378ba5;
  color: white;
  cursor: pointer;
}

#CWA .cwa_write-answer {
  line-height: 1.3rem;
  color: black;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.3);
  white-space: pre-line;
}

#CWA .cwa_write-answer .cwa_copy-message {
  margin-top: 10px;
}

#CWA .cwa_loading-icon {
  animation: spin 2s linear infinite;
}

#CWA .cwa-btn-side-bar {
  position: relative;
}

#CWA .tooltip-text {
  visibility: hidden;
  background-color: #378ba5;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 4px 10px;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  right: 115%;
  opacity: 0;
  transition: opacity 0.3s;
  transform: translateY(50%);
  text-wrap: nowrap;
}

#CWA .tooltip-text-group-btn {
  visibility: visible;
  z-index: 99999;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 10px;
  background: #378ba5;
  border-radius: 6px;
  color: white;
  text-wrap: nowrap;
  opacity: 0;
}

#CWA .cwa-btn-side-bar:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

#CWA .cwa_upload-pdf-btn:hover .tooltip-text-group-btn,
#CWA .cwa_get-url-btn:hover .tooltip-text-group-btn,
#CWA .cwa_new-chat-btn:hover .tooltip-text-group-btn,
#CWA .cwa_open-list-conversations-btn:hover .tooltip-text-group-btn,
#CWA .cwa_upload-img-btn:hover .tooltip-text-group-btn {
  visibility: visible;
  opacity: 1;
}

#CWA .cwa_pdf-uploader,
#CWA .cwa_get-current-url,
#CWA .cwa_img-uploader {
  color: black;
  box-shadow: 0 5px 50px 1px rgba(0, 0, 0, 0.4);
  background: white;
  width: 90%;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  z-index: 9999;
}

#CWA .cwa_upload-img-container.dragging {
  border-color: #3b82f6;
  background-color: #f0f9ff;
}

#CWA .cwa_upload-pdf-container,
#CWA .cwa_upload-img-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  border: 2px dashed #ccc;
  padding: 20px;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

#CWA .cwa_get-current-url p {
  font-size: 1.1rem;
}

#CWA .cwa_get-url-button {
  margin-top: 2rem;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #1e282c;
  color: white !important;
}

#CWA .cwa_upload-pdf-footer,
#CWA .cwa_upload-img-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border: 2px dotted black;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

#CWA .cwa_upload-pdf-footer p:last-child,
#CWA .cwa_upload-img-footer p:last-child {
  color: rgba(0, 0, 0, 0.5);
}

#CWA .cwa_upload-pdf-title,
#CWA .cwa_upload-img-title {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#CWA .cwa_upload-pdf-content,
#CWA .cwa_upload-img-content {
  color: rgba(0, 0, 0, 0.5);
}

#CWA .cwa_upload-pdf-footer:hover #CWA .cwa_upload-img-footer:hover {
  opacity: 0.7;
}

#CWA .cwa_question-component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 10px;
}

#CWA .cwa_question-component-option {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#CWA .cwa_question-component-prompt,
#CWA .cwa_question-component-content {
  line-height: 1.5rem;
  background: #b0d6df;
  padding: 10px;
  resize: none;
  border-radius: 10px;
  width: 100%;
  height: 150px !important;
  color: black;
  border: none;
  box-shadow: inset 0 5px 10px 1px rgba(0, 0, 0, 0.2);
}

#CWA .cwa_question-component-content {
  background: transparent;
}

#CWA .cwa_question-component-submit {
  text-align: center;
  outline: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #378ba5;
  color: white;
}

#CWA .cwa_question-component-submit button {
  color: white;
  cursor: pointer;
  border: none;
  background: transparent;
}

#CWA .cwa_question-component-container::-webkit-scrollbar {
  display: none !important;
}

#CWA .cwa_question-component-prompt::-webkit-scrollbar,
#CWA .cwa_question-component-content::-webkit-scrollbar {
  display: none !important;
}

#CWA .cwa_question-component-result {
  line-height: 1.3rem;
  color: black;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.3);
  white-space: pre-line;
}

#CWA .cwa_question-component-result p {
  margin-bottom: 10px !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes countdown {
  10% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes forward {
  0% {
    transform: translate(0px, -50%);
    opacity: 0.5;
  }

  40% {
    transform: translate(-20px, -50%);
    opacity: 0.7;
  }

  100% {
    transform: translate(0px, -50%);
    opacity: 1;
  }
}

.gegga {
  width: 0;
}
.snurra {
  filter: url(#gegga);
}
.stopp1 {
  stop-color: #05999e;
}
.stopp2 {
  stop-color: #cbe7e3;
}
.halvan {
  animation: Snurra1 10s infinite linear;
  stroke-dasharray: 180 800;
  fill: none;
  stroke: url(#gradient);
  stroke-width: 23;
  stroke-linecap: round;
}
.strecken {
  animation: Snurra1 3s infinite linear;
  stroke-dasharray: 26 54;
  fill: none;
  stroke: url(#gradient);
  stroke-width: 23;
  stroke-linecap: round;
}
.skugga {
  filter: blur(5px);
  opacity: 0.3;
  position: absolute;
  transform: translate(3px, 3px);
}
@keyframes Snurra1 {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -403px;
  }
}

.loader {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid var(--light-color);
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid var(--mid-color);
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid var(--dark-color);
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.cwa_wrapper-container-loading-pdf {
  /* padding: 100vh 0 !important; */
  height: 90vh;
  width: 100%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  backdrop-filter: blur(2px);
  background-color: rgb(255 255 255 / 2%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px !important;
  flex-direction: column;
}

.cwa_wrapper-container-loading-pdf h1 {
  font-size: 1.2rem;
  font-weight: 525;
  color: black;
  text-align: center;
}

.cwa_container-loading-pdf {
  width: calc(var(--size) * 1vmin);
  height: calc(var(--size) * 1vmin);
  position: relative;
}

.cwa_container-loading-pdf:before {
  content: "";
  background: var(--mid-color);
  width: 50%;
  height: 50%;
  position: absolute;
  left: 0%;
  top: 0%;
  transform-origin: right bottom;
  animation: shadow 4s var(--trans) 0s infinite;
}

.cwa_container-loading-pdf:after {
  content: "";
  background: var(--mid-color);
  width: 33.33%;
  height: 33.33%;
  position: absolute;
  left: 50%;
  top: 16.66%;
  transform-origin: left bottom;
  animation: shadow 4s var(--trans) 1s infinite;
  transform: scale(0);
  z-index: -1;
}

.cwa_loader-pdf {
  width: calc(var(--size) * 0.5vmin);
  height: calc(var(--size) * 0.5vmin);
  background: var(--dark-color);
  transform-origin: right bottom;
  animation: outer 4s var(--trans) 0s infinite;
  position: relative;
}

.cwa_loader-pdf span {
  width: 50%;
  height: 50%;
  display: block;
  background: var(--light-color);
  transform-origin: right bottom;
  animation: inner 1s ease-in-out 0.5s infinite;
  top: 50%;
  left: 50%;
  position: absolute;
}

.cwa_group-btn {
  padding: 20px !important;
  color: black;
  display: flex;
  justify-content: start;
  gap: 1rem;
  align-items: center;
  background: white;
  position: absolute;
  width: 100%;
  bottom: 70px;
}

.cwa_upload-pdf-btn,
.cwa_get-url-btn,
.cwa_new-chat-btn,
.cwa_open-list-conversations-btn,
.cwa_upload-img-btn {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 35px;
  height: 35px;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative !important;
}

.cwa_chat-history-container {
  position: absolute;
  height: 100vh;
  width: 113%;
  right: -12%;
  z-index: 99999;
  top: 50%;
  transform: translateX(100%) translateY(-50%);
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  display: flex;
  padding: 20px !important;
  gap: 1rem;
  background-color: black;
  color: white;
  transition: transform 0.5s ease-in-out;
  overflow-y: auto;
}

.cwa_chat-history-container button {
  padding: 10px !important;
  border-radius: 10px;
  background-color: #007d89 !important;
  border: none;
  color: white;
}

.cwa_chat-history-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.cwa_chat-history-header button {
  cursor: pointer;
}

.cwa_chat-history-header button:hover {
  color: red;
}

.cwa_chat-history-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}

.cwa_chat-history-list .cwa_chat-history-btn {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.cwa_chat-history-list .cwa_chat-history-btn span {
  margin: 0 !important;
  padding: 0 !important;
}

.cwa_hide-chat-history-list {
  position: absolute;
  right: 5%;
  cursor: pointer;
}

.cwa_chat-history-container.show {
  transform: translateX(0%) translateY(-50%) !important;
}

#CWA .cwa_copy-message {
  position: relative;
  float: inline-end;
  cursor: pointer;
}

#CWA .cwa_tooltip {
  visibility: hidden;
  background-color: #203532;
  font-family: CohereText !important;
  color: var(--primary-color);
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 9999;
  bottom: 90%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  margin-bottom: 5px;
}

#CWA .cwa_copy-message:hover .cwa_tooltip {
  visibility: visible;
  opacity: 1;
}

#CWA .cwa_custom-select {
  color: inherit;
  line-height: inherit;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative !important;
  border-radius: 10px;
  padding: 10px !important;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 8px center;
  padding-right: 35px !important;
  border: none;
  background-color: transparent;
}

.cwa_highlight-container,
.cwa_summarize-container,
.cwa_translate-container,
.tools-container,
.cwa_quick-container {
  position: relative;
  background-color: transparent;
}

.cwa_highlight-container {
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

.cwa_quick-container {
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

.cwa_mark-color {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% - 15px);
  height: 2px;
  border-radius: 1px;
  margin-left: 1px;
}

button:hover .tooltip {
  display: block;
}

.cwa_highlight-button,
.cwa_summarize-button,
.cwa_translate-button,
.tools-button,
.cwa_quick-button {
  background: transparent;
  outline: none;
  border: none;
  color: white;
}

.cwa_tools-popup {
  display: none;
  position: absolute;
  background: black;
  border: none;
  padding: 10px;
  z-index: 1000;
  border-radius: 20px;
  gap: 20px;
}

.cwa_tools-popup.flex {
  display: flex;
}

.cwa_color-option {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.cwa_highlight-popup {
  position: absolute;
  bottom: 120%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1002;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cwa_color-options {
  display: flex;
  gap: 10px;
}

.cwa_summary-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

.cwa_summary-popup {
  position: fixed;
  width: 600px;
  background-color: #2D2D2F;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1002;
  cursor: grab;
}

.cwa_summary-popup.grabbing {
  cursor: grabbing;
}

.cwa_summary-header {
  margin-bottom: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
}

.cwa_summary-header.grabbing {
  cursor: grabbing;
}

.cwa_summary-content {
  width: 100%;
  padding: 15px;
  resize: vertical;
  background-color: #202020;
  border-radius: 10px;
  position: relative;
}

.cwa_selected-text {
  line-height: 24px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  color: #6A6A70;
  overflow-y: auto;
  background-color: #2B2B2D;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: max-height 0.3s ease;
}

.cwa_selected-text.less {
  max-height: 60px;
  overflow: hidden;
}

.cwa_selected-text.expanded {
  min-height: 100px;
  height: auto;
  overflow:auto;
}

.cwa_selected-text button {
  position: absolute;
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  bottom: 0;
  right: 0;
}

.cwa_loading-text,
.cwa_output-text {
  color: white;
  margin: 25px 0;
  line-height: 24px;
}

.cwa_tooltip {
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  transform: translateX(-50%);
  z-index: 1001;
}

.cưa_color-options {
  display: flex;
  gap: 10px;
}

@keyframes outer {
  0% {
    transform: rotate(0deg) scale(1);
  }
  12.5% {
    transform: rotate(90deg) scale(1);
  }
  25% {
    transform: rotate(90deg) scale(0.75);
  }
  37.5% {
    transform: rotate(180deg) scale(0.75);
  }
  50% {
    transform: rotate(180deg) scale(0.5);
  }
  62.5% {
    transform: rotate(270deg) scale(0.5);
  }
  75% {
    transform: rotate(270deg) scale(0.25);
  }
  87.5% {
    transform: rotate(360deg) scale(0.25);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes inner {
  50%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shadow {
  0%,
  8.25% {
    transform: scale(0);
  }
  16.5% {
    transform: scale(1);
  }
  49.5% {
    transform: scale(0);
  }
  50% {
    transform: scale(0) rotate(180deg);
  }
  50.5%,
  58.25% {
    transform: scale(0) rotate(180deg);
  }
  66.5% {
    transform: scale(0.5) rotate(180deg);
  }
  100% {
    transform: scale(0) rotate(180deg);
  }
}
